aiogram==3.4.1
aiohttp==3.9.5
rapidfuzz==3.9.6
pytesseract==0.3.10
Pillow==10.3.0
python-dotenv==1.0.1
orjson==3.10.7
chardet==5.2.0
pandas==2.2.2
uvloop==0.20.0; sys_platform != 'win32'
redis==5.0.7
# aiogram 3.4.1 requires pydantic >=2.4.1,<2.6
pydantic==2.5.3
# pick a pydantic-settings version from the same timeframe
pydantic-settings==2.2.1
numpy==1.26.4
scipy==1.11.4
joblib==1.4.2
threadpoolctl==3.5.0
scikit-learn==1.4.2
